@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --faint-bg: #edf2ff;
  --header-bg: #f8f9fa;
  --revert-url: #1864ab;
  --hover-url: #364fc7;
  --min-height: 10vh;
  --min-width: 10vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: 0;
  box-shadow: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--faint-bg);
}

main {
  transition: 1000ms ease-in;
}

header {
  background-color: var(--header-bg);
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
  width: 100%;
  min-width: auto;
}

a {
  text-decoration: none !important;
}

article h4 a {
  color: var(--hover-url);
}

article .col-sm-10 p.null-border {
  word-break: break-all;
}

span.thread-label {
  color: #868e96 !important;
  font-size: 1rem;
}

span.thread-label a {
  color: var(--hover-url);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
  list-style-type: none;
}

ul a {
  display: block;
  color: var(--revert-url);
}

ul a:hover {
  color: var(--hover-url);
}

table {
  text-align: center;
  vertical-align: middle;
}

th {
  width: auto;
  border-bottom: 0.0625rem solid black;
  font-weight: 500;
}

td {
  padding-top: 1.1rem;
}

td:first-child,
td:last-child {
  padding: 1.1rem;
}

td span {
  display: block;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: white;
}

td a {
  color: var(--hover-url);
}

td button {
  border: none;
  margin-bottom: 1.1rem;
  background: none;
  border-radius: 0.3125rem;
  color: white;
  padding: 0.376rem;
  width: 100%;
}

td button:first-child {
  border-left: 0.35rem solid white;
  background-color: black;
}

td button:last-child {
  border-left: 0.35rem solid white;
  background-color: #5f3dc4;
}

.aboard-thread-btn {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: 0.0625rem solid var(--hover-url);
  border-radius: 1.25rem;
  padding: 0.276rem 0.276em;
  width: 5.1rem;
  transition: 551ms linear;
}

.aboard-thread-btn:hover {
  background-color: var(--hover-url);
  color: white;
  transition: 551ms linear;
}

.account-operation {
  height: calc(90vh - var(--min-height));
}

.account-operation-data i {
  font-size: 1.9rem;
}

.account-operation-data,
.remove-section-data,
.regular-profile-section-data {
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.account-operation-data .detail span {
  color: #868e96;
}

.account-operation-data .detail > span {
  font-size: 0.81rem;
  color: #868e96;
  font-weight: 700;
}

.account-operation-data p {
  line-height: 0.9;
  font-weight: 700;
  font-size: 1.3rem;
  word-break: break-all;
}

.account-operation-data .detail-channel {
  font-size: 0.81rem;
}

.account-operation-data a {
  color: var(--hover-url);
}

.affair-threads .null-data {
  max-width: 100%;
  width: 50%;
}

.affair-threads .glitch-data p {
  font-size: 1.1em;
}

.affair-threads,
.after-outcome-section {
  max-height: calc(100vh - var(--min-height));
}

.affair-threads > article,
.after-outcome-section > article {
  background-color: white !important;
  height: auto;
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.affair-threads .col-sm-10 > p,
.chief-d-prime .col-sm-10 > p,
.after-outcome-section .row > .col-sm-10 > p,
.chief-d-prime .col-sm-10 > p {
  color: #868e96;
  padding-top: 1.19rem;
  padding-bottom: 1.49rem;
  font-size: 1rem;
  border-bottom: 0.13rem solid #868e96;
  line-height: 1.9;
}

.affair-threads .col-sm-10 > p.null-border,
.after-outcome-section .col-sm-10 > p.null-border {
  border-bottom: none;
  padding-bottom: 1rem;
}

.affair-threads .col-sm-10 p > img,
.affair-threads .col-sm-10 p > iframe,
.chief-d-prime .col-sm-10 p > img,
.after-outcome-section .col-sm-10 p > img,
.after-outcome-section .col-sm-10 p > iframe,
.chief-d-prime .after-outcome-section > .col-sm-10 > p > img {
  max-width: 100%;
}

.affair-threads > .scheme-report {
  display: block;
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.affair-threads .col-sm-10 h4 a,
.after-outcome-section .col-sm-10 h4 a {
  color: var(--revert-url);
}

.affair-threads .col-sm-10 h4 a:hover,
.after-outcome-section .col-sm-10 h4 a:hover {
  color: var(--hover-url);
}

.after-info-box .account-info-short > span {
  font-size: 1rem;
  padding-top: 0.11rem;
}

.after-info-box.revoke {
  padding-bottom: 1.1rem;
  border-bottom: 0.125rem solid #868e96;
}

.after-info-box .account-info-short span > a {
  color: var(--hover-url);
}

.after-info-remarks a {
  color: #343a40;
  float: right;
}

.after-polls i,
.remark-polls i {
  font-size: 1.6rem;
}

.after-polls span,
.remark-polls span {
  font-size: 1.6rem;
}

.after-polls a,
.remark-polls a {
  color: #343a40;
}

.after-polls a.polls-boost,
.remark-polls a.polls-boost {
  color: var(--hover-url);
}

.after-polls i.polls-boost,
.remark-polls i.polls-boost {
  color: var(--hover-url);
}

.after-polls a.polls-deduct,
.remark-polls a.polls-deduct {
  color: #e67700;
}

.after-polls i.polls-deduct,
.remark-polls i.polls-deduct {
  color: #e67700;
}

.after-generate-section {
  background-color: var(--hover-url);
  height: auto;
}

.after-generate-section a {
  color: white;

  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.after-outcome-section .null-data {
  width: 100%;
}

.after-remark {
  height: 8.1rem;
  resize: none;
}

.agenda nav {
  display: block;
  min-width: 100%;
  height: auto;
}

.agenda h6 {
  color: #777;
  margin-left: 2.9rem;
}

.agenda ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.agenda li {
  margin-bottom: 0.49rem;
  padding: 0.38rem;
}

.agenda li a {
  padding: 0.575em 0.5em;
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0);
}

.agenda li a:hover {
  border-bottom: 0.5rem solid var(--hover-url) !important;
  background-color: rgba(59, 91, 219, 0.9);
  color: #fff;
  transition: 251ms linear;
}

.arrange-thread-btn {
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1.25rem;
  border-color: rgba(0, 0, 0, 0);
  padding: 0.276rem 0.276rem;
  width: 5.1rem;
}

.arrange-thread-btn:hover {
  background-color: var(--hover-url);
  color: white;
}

.bi-arrow-up-circle:hover,
.bi-arrow-down-circle:hover {
  cursor: pointer;
}

.bi-house-door,
.bi-bank2,
.bi-cloud-plus-fill,
.bi-cloud-fog2,
.bi-blockquote-left {
  width: 1rem;
}

.bronze-position {
  color: #f08c00;
}

.btn-box button,
.btn-box a {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 1.25rem;
  padding: 0.676rem 0.676rem;
  text-align: center;
}

.btn-box button:first-child {
  margin-right: 2.1rem;
  background-color: var(--hover-url);
  border: 0.0625rem solid var(--hover-url);
  color: white;
  transition: 551ms ease-out;
}

.btn-box button:first-child:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--hover-url);
  transition: 551ms ease-in;
}

.btn-box a {
  border: 0.0625rem solid var(--hover-url);
  color: var(--hover-url);
  transition: 551ms ease-in-out;
}

.btn-box a:hover {
  transition: 551ms linear;
  background-color: var(--hover-url);
  color: #fff;
}

.btn-generate-thread,
.btn-generate-after {
  background-color: var(--hover-url);
  width: 100%;
  border: none;
  color: white;
  font-weight: 500;
}

.btn-previous-glitch {
  color: #2f9e44;
  border: 0.125rem solid var(--hover-url);
  transition: 600ms linear;
}

.btn-profile-change {
  width: 100%;
  border: none;
  background-color: var(--hover-url);
  color: white;
}

.btn-respond-after {
  background-color: var(--hover-url) !important;
  color: white;
}

.btn-respond-after:hover {
  color: white;
}

.chief-d-prime .scheme-report img {
  max-width: 100%;
}

.chief-d-profiles {
  background: linear-gradient(#fab005, #159957);
}

.chief-d-threads {
  background: linear-gradient(#159957, #159);
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.chief-d-posts {
  background: linear-gradient(#159, #be4bdb);
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.chief-d-remarks {
  background: linear-gradient(#be4bdb, #fab005);
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.chief-d-profiles i,
.chief-d-threads i,
.chief-d-posts i,
.chief-d-remarks i {
  font-size: 2.1rem;
  color: white;
}

.chief-d-profiles h5,
.chief-d-threads h5,
.chief-d-posts h5,
.chief-d-remarks h5 {
  color: white;
  text-align: right;
  font-size: 1.1rem;
}

.chief-d-profiles span,
.chief-d-threads span,
.chief-d-posts span,
.chief-d-remarks span {
  display: block;
  float: right;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 0.9;
  color: white;
}

.chief-d-prime {
  height: calc(90vh - var(--min-height));
}

.chief-discover-threads-table,
.chief-discover-profiles-table {
  height: calc(80vh - var(--min-height));
}

.chief-panel-threads .disguise {
  border-left: 0.35rem solid white;
  background-color: #495057;
}

.chief-profile-mode {
  background-color: var(--hover-url);
}

.discover-box,
.discover-outcome-thread,
.search-result {
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.discover-outcome-section .null-data {
  max-width: 100%;
  width: 50%;
}

.discover-outcome-section {
  height: calc(70vh - var(--min-height));
}

.discover-page-input-box,
.discover-input-container,
.discover-input-thread {
  border: none;
  border-bottom: 0.0625rem solid var(--hover-url);
}

.discover-thread {
  border: none;
  border-bottom: 0.125rem solid var(--hover-url);
}

.discover-trademark-paint {
  color: var(--hover-url);
}

.effective {
  border-bottom: 0.5rem solid var(--hover-url) !important;
  background-color: rgba(66, 99, 235, 0.4);
  color: #fff;
}

.effective:hover {
  color: #fff;
}

.effective-login-header {
  background-color: var(--hover-url);
  color: white;
  padding: 0.48rem 2.1rem;
}

.explanation p {
  color: #868e96;
}

.form-tag {
  color: #868e96 !important;
  font-size: 0.705rem !important;
  font-weight: 500;
}

.generate-after-wrap-image {
  width: 19.9rem;
  height: 19.9rem;
  object-fit: cover;
}

.generate-after-text {
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
  border-radius: 25%;
  box-sizing: border-box;
  display: block;
}

.generate-after-text-link {
  width: 100%;
}

.generate-thread-account-image {
  border-radius: 50%;
  width: 5.9rem;
  max-width: 100%;
  height: 5.9rem;
}

.generate-thread-wrap-image {
  width: 100%;
  height: 14.9rem;
  background-size: cover;
}

.generate-thread-large-box,
.generate-after-large-box {
  height: calc(100vh - var(--min-height));
}

.generate-thread-proposed-banner {
  color: #868e96;
}

.generate-thread-banner,
.generate-after-label {
  border: none;
  width: 50%;
  border-bottom: 0.0625rem solid var(--hover-url);
}

.gold-position {
  color: #ffd43b;
}

.header-figure {
  background-color: var(--faint-bg);
  padding: 0.48rem 0.8rem;
  border-radius: 0.31rem;
  text-decoration: none;
  width: max-content;
}

.header-figure:hover {
  color: white;
  background-color: var(--hover-url);
  transition: 551ms linear;
}

.image-header-account {
  display: block;
  width: 1.49rem;
  height: 1.49rem;
  border-radius: 50% 50%;
  object-fit: cover;
}

.image-glitch-bearing {
  width: 100%;
  height: auto;
}

.image-thread-background {
  height: 14.9rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.image-thread-account {
  border-radius: 0.313rem 1.25rem 0.313rem;
  border: 0.0625rem solid #f8f9fa;
  height: 6.1rem;
  width: 6.1rem;
  display: inline-block;
  position: relative;
  top: -0.9rem;
  object-fit: cover;
}

.important-channels a {
  font-size: 1.1rem;
  color: #868e96;
  margin-bottom: 0.6rem;
}

.important-channels a:hover {
  color: var(--hover-url);
}

.important-channels {
  background: #fff;
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
  min-width: 18rem;
}

.important-channels h5 {
  font-size: 1.15rem !important;
  font-weight: 500;
}

.load-comments {
  border: none;
  background-color: var(--hover-url);
  color: white;
  padding: 0.48rem 0.48rem;
}

.login-box-assistance-recover {
  color: #868e96;
  font-size: 0.85rem;
}

.login-box-assistance-recover a {
  font-weight: 500;
}

.login-box-assistance-recover a:hover {
  color: var(--hover-url) !important;
  transition: 351ms linear;
}

.login-page,
.register-page,
.restore-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(90vh - var(--min-height));
}

.login-detail-bg-image {
  background: url("../img/bg-login.jpg");
  background-repeat: no-repeat;
  height: calc(90vh - var(--min-height));
  max-height: 100%;
  background-size: cover;
  background-position: center;
}

.login-detail-box hr {
  color: #868e96;
  opacity: 100%;
}

.login-detail-box p {
  color: #e9e9e9;
}

.login-email-input,
.login-password-input,
.username-roster-intake,
.email-roster-input,
.password-roster-input,
.password-restate-roster-input,
.code-roster-intake-affirm,
.restore-email-input-affirm,
.new-password-input,
.new-password-confirm-input {
  display: block;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 100%;
  padding: 0.579rem 0.579em;
  border: none;
  border-bottom: 0.0625rem solid #868e96;
}

.move-backwards {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0.0625rem solid var(--hover-url) !important;
  color: black !important;
  transition: 551ms linear;
}

.move-backwards:hover {
  background-color: var(--hover-url) !important;
  transition: 551ms linear;
  color: white !important;
}

.move-forward {
  background-color: var(--hover-url) !important;
  color: white !important;
}

.notices-box {
  max-height: calc(100vh - var(--min-height));
}

.notice-report {
  background-color: white;
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.notice-report i {
  font-size: 2.1rem;
}

.notice-report .polls-deduct {
  color: #e67700;
}

.notice-report .polls-boost {
  color: var(--hover-url);
}

.notice-report a {
  color: var(--hover-url);
}

.null-border > img {
  max-width: 100%;
}

.prime-threads-box {
  background: white;
  min-width: 18rem;
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.prime-threads-box h5 {
  font-size: 1.2rem;
}

.prime-thread-info-label a {
  color: var(--hover-url);
}

.prime-thread-info-polls-boost span {
  color: #868e96;
}

.prime-thread-info-polls-boost i {
  color: var(--hover-url);
}

.profile-configurations-alter-username input,
.former-password-section input,
.appended-password-section input {
  border: none;
  border-bottom: 0.0625rem solid var(--hover-url);
}

.profile-details-image,
.profile-changed-account-image {
  width: 6.1rem;
  height: 6.1rem;
  object-fit: cover;
  border-radius: 0.313rem 1.25rem 0.313rem;
}

.profile-details {
  background-color: rgba(66, 99, 235, 0.4);
}

.profile-details h4 {
  font-size: 1.1rem;
  color: white;
}

.profile-details img {
  border: 0.25rem solid var(--hover-url);
}

.profile-details a {
  border: none;
  background-color: var(--hover-url);
  color: white;
  padding: 0.476rem;
  border-radius: 0.3125rem 0.3125rem;
  width: 100%;
}

.profile-null-data img {
  width: 14.9rem;
  height: 14.9rem;
}

.respond-after a {
  color: var(--hover-url);
}

.respond-after h6 {
  font-size: 0.9rem;
}

.restore-affirm-detail-image {
  background: url("../img/bg-recover.jpg");
  background-repeat: no-repeat;
  height: calc(90vh - var(--min-height));
  max-height: 100%;
  background-size: cover;
  background-position: right;
}

.schedule-after {
  display: block;
  font-size: 1rem;
  padding-top: 0.2rem;
}

.scheme-report.glitch {
  height: 1em;
}

.scheme-report.glitch p {
  color: #c92a2a;
}

.scheme-report-data .bi-bug-fill,
.scheme-report-data .bi-stars {
  font-size: 2.1rem;
}

.scheme-report .bi-radioactive,
.scheme-report .bi-info-square-fill {
  color: white;
  font-size: 2.1rem;
}

.scheme-report h5 {
  font-size: 1.1rem;
  color: white;
}

.scheme-report section p {
  font-size: 1rem;
  color: white;
}

.search-result .col-sm-10 h4 a {
  color: var(--hover-url) !important;
}

.silver-position {
  color: #868e96;
}

.gain-roster-first-phase {
  font-size: 2.1rem;
  font-weight: 500;
}

.register-take-back-btn {
  color: white;
  background-color: var(--hover-url);
  padding: 0.79rem;
  border-radius: 0.9375rem;
}

.register-take-back-btn:hover,
.restore-affirm-ultimate {
  color: white !important;
}

.remove-section-data button {
  border: 0.0625rem solid #c92a2a;
  transition: 551ms linear;
}

.remove-section-data button:hover {
  background-color: #c92a2a;
  transition: 551ms linear;
  color: white;
}

.roster-affirm-ultimate,
.roster-affirm-ultimate:hover {
  color: white !important;
}

.roster-affirm-detail-image {
  background: url("../img/bg-register-confirm.jpg");
  background-repeat: no-repeat;
  height: calc(90vh - var(--min-height));
  max-height: 100%;
  background-size: cover;
  background-position: right;
}

.td-button-block {
  border-left: 0.35rem solid white;
  background-color: #c92a2a;
}

.td-button-demote {
  border-left: 0.35rem solid white;
  background-color: #f783ac;
}

.trademark {
  color: var(--hover-url) !important;
  font-size: 1.5rem;
  text-decoration: none !important;
}

.transition-text {
  animation: bounce 2999ms;
}

.thread-header-bar {
  box-shadow: 0 0.44rem 0.81rem -0.625rem rgba(73, 80, 87, 0.5);
}

.thread-remove,
.after-disguise,
.after-remove,
.remark-remove {
  background-color: rgba(0, 0, 0, 0);
  font-size: 87.5%;
  color: #868e96;
  border: none;
}

.thread-sm-url {
  color: #868e96;
  font-size: 1.1rem;
}

.thread-sm-url:hover {
  color: var(--hover-url);
  transition: 351ms linear;
}

.register-page .col-md-6:last-child,
.login-page .col-md-6:last-child,
.restore-page .col-md-6:last-child {
  padding-right: 0;
}

.roster-detail-box,
.restore-detail-box {
  height: calc(90vh - var(--min-height));
}

.roster-detail-image {
  background: url("../img/bg-register.jpg");
  background-repeat: no-repeat;
  height: calc(90vh - var(--min-height));
  max-height: 100%;
  background-size: cover;
  background-position: right;
}

.routine-info {
  background-color: var(--hover-url);
}

@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
  header li {
    margin-left: calc(11.5vw - var(--min-width));

    margin-right: calc(11.5vw - var(--min-width));
  }

  .trademark {
    display: none !important;
  }

  .effective-login-header {
    width: 100%;
  }

  .header-figure {
    padding: 0.476rem 0.56rem;
  }

  .after-info-box .account-info-short span,
  .schedule-after,
  .after-info-remarks {
    font-size: 0.76rem;
  }

  .account-info-short {
    width: min-content;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  main > .row,
  .chief-panel > .row {
    flex-direction: column !important;
  }

  .chief-panel .col-sm-5,
  .chief-panel .col-sm-7 {
    width: 100%;
  }

  .col-md-2 {
    width: 100%;
  }

  .discover-large-box {
    width: 100%;
  }

  .login-page .row,
  .restore-page .row,
  .register-page .row {
    flex-direction: row !important;
  }

  .affair-threads,
  .profile-folio,
  .notices-box {
    width: 100%;
  }

  .roster-detail-image,
  .roster-detail-box,
  .restore-detail-box {
    height: 100%;
  }

  .account-operation {
    height: auto;
  }

  .col-md-3 {
    width: 100%;
  }
}
